main
{
    width: 83%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 20px;
    height: 460px;
}
#addForm
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}
h1
{
    color: #004CFF;
}
 

#addForm input[type='file']
{
    display: block;
    width: 72%;
    height: 9%;
    border: 0.1px solid black;
}

#addForm input[type='text']
{
    width: 71.5%;
    display: block;
    height: 12%;
    border: 0.1px solid black;
    font-size: 1em;
    
}
textarea
{
    max-width: 71.5%;
    max-height: 45%;
    min-height: 45%;
    min-width: 71.5%;
    border: 0.1px solid black;
    font-size: 1.2em;
}

button
{
    width: 20%;
    background-color: #004CFF;
    color: white;
    border: none;
    font-size: 1.1em;
    padding: 10px;
    font-weight: bold;
}

.custom-file-input::-webkit-file-upload-button
{
    display: none;
}

.custom-file-input::after
{
    content: 'Select some file';
    display: inline-block;
    position: absolute;
    left: 800px;
}

.custom-file-input
{    
    font-size: 1em;
    padding-bottom: 0px;
    padding-top: 15px;

}


